flows_2.json
[
    {
        "id": "35448eaddf9ef1ef",
        "type": "tab",
        "label": "PraUAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edcb6e4f01627af3",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "afca188e3fc957ba",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Smart Farm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Smart Farm",
        "payloadType": "str",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "edcb6e4f01627af3"
            ]
        ]
    },
    {
        "id": "19249116e3e8c48e",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "8fb7c455c1d52fe1",
                "fdd645add490e475",
                "6477a88493ad9c8f"
            ]
        ]
    },
    {
        "id": "20a71cf10eb8ac81",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/kebersihan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "8fb7c455c1d52fe1",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kebersihan kandang",
        "low": "50",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "20a71cf10eb8ac81"
            ]
        ]
    },
    {
        "id": "cf294c65d50a25d2",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/kebersihan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cc42af9edacc7da1",
                "286cb270f9e1b32c"
            ]
        ]
    },
    {
        "id": "cc42af9edacc7da1",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "6477a88493ad9c8f",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor jenis pakan ",
        "low": "1",
        "high": "3",
        "inte": "true",
        "property": "payload",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "7bcb3efa0bebaa54"
            ]
        ]
    },
    {
        "id": "fdd645add490e475",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor hormon prolaktin sapi",
        "low": "10",
        "high": "60",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "bcf03f9b5c02c029"
            ]
        ]
    },
    {
        "id": "7bcb3efa0bebaa54",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/jenis_pakan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "bcf03f9b5c02c029",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/hormon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "067770bfa4de1541",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/jenis_pakan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "4f4ccc2d32c54f06",
                "b17ad6af6240c7ea"
            ]
        ]
    },
    {
        "id": "8e5562800e5fa1fb",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/sht/hormon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "43f8b965ab06f3d0",
                "d585fd8a7390af21"
            ]
        ]
    },
    {
        "id": "4f4ccc2d32c54f06",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "43f8b965ab06f3d0",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 620,
        "wires": []
    },
    {
        "id": "a0bebd68470df45f",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "0b83f5c31abe70ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "db460648b241d870",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Susu Hewani dan Telur",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Susu Hewani dan Telur",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a0bebd68470df45f"
            ]
        ]
    },
    {
        "id": "258150de2aec2eea",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "0bbb420b5dccd159",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Daging Merah",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Daging Merah",
        "payloadType": "str",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "258150de2aec2eea"
            ]
        ]
    },
    {
        "id": "136c824fd1cdce8a",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "4d3708b68ec92390",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9594cb9f9217e91",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Daging Putih",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Daging Putih",
        "payloadType": "str",
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "136c824fd1cdce8a"
            ]
        ]
    },
    {
        "id": "d6fed0d2ac30f129",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "24e8e864456788d0",
                "14cf02dd1379f614",
                "26bfafed1c004965"
            ]
        ]
    },
    {
        "id": "4d8e442fd0182cad",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/umur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "24e8e864456788d0",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor umur",
        "low": "0",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "4d8e442fd0182cad"
            ]
        ]
    },
    {
        "id": "7d094c1db7014133",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/umur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "3d4ce859ac7e7d7f",
                "6d25c3980421a1c2"
            ]
        ]
    },
    {
        "id": "3d4ce859ac7e7d7f",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "26bfafed1c004965",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor porsi makan ",
        "low": "60",
        "high": "90",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "bfb1dafa7d55a8cf"
            ]
        ]
    },
    {
        "id": "14cf02dd1379f614",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor jumlah ternak",
        "low": "0",
        "high": "250",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 400,
        "wires": [
            [
                "bbe5ca97067d2201"
            ]
        ]
    },
    {
        "id": "bfb1dafa7d55a8cf",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/porsi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "bbe5ca97067d2201",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/jumlah_ternak",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e581767ce0c9c57",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/porsi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 560,
        "wires": [
            [
                "f992d21daac6d4ba",
                "8d91e8ccde3819e0"
            ]
        ]
    },
    {
        "id": "b07852b91311e932",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dm/jumlah_ternak",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "c6364c993fdaddb3",
                "9db4cbe480a2045b"
            ]
        ]
    },
    {
        "id": "f992d21daac6d4ba",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "c6364c993fdaddb3",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 620,
        "wires": []
    },
    {
        "id": "8389e799dd4d63b9",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "b2993f1165cf9165",
                "fedec020b819f3c5",
                "a1ce14b126c41123"
            ]
        ]
    },
    {
        "id": "94f2c1d4cb3204d9",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/flow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1780,
        "y": 280,
        "wires": []
    },
    {
        "id": "b2993f1165cf9165",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kecepatan sikulasi udara",
        "low": "0.15",
        "high": "0.3",
        "inte": "false",
        "property": "payload",
        "x": 1550,
        "y": 280,
        "wires": [
            [
                "94f2c1d4cb3204d9"
            ]
        ]
    },
    {
        "id": "040424a0a58278fc",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "4d1301ba36e81b2b",
                "5747cfb075564b30"
            ]
        ]
    },
    {
        "id": "4d1301ba36e81b2b",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 500,
        "wires": []
    },
    {
        "id": "a1ce14b126c41123",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor makanan protein tinggi",
        "low": "20",
        "high": "25",
        "inte": "false",
        "property": "payload",
        "x": 1550,
        "y": 340,
        "wires": [
            [
                "2af794b6be02852a"
            ]
        ]
    },
    {
        "id": "fedec020b819f3c5",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kepadatan ayam / kandang",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "e1c4e3f96226f951"
            ]
        ]
    },
    {
        "id": "2af794b6be02852a",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/makanan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1800,
        "y": 340,
        "wires": []
    },
    {
        "id": "e1c4e3f96226f951",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/kepadatan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1800,
        "y": 400,
        "wires": []
    },
    {
        "id": "477952af15274d57",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/makanan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1320,
        "y": 560,
        "wires": [
            [
                "29cec64897e0276a",
                "b689a43ebaacf505"
            ]
        ]
    },
    {
        "id": "59d802959cf77bb0",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sf/dp/kepadatan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1320,
        "y": 620,
        "wires": [
            [
                "93d2550da4095ef3",
                "a51a690f63c83b77"
            ]
        ]
    },
    {
        "id": "29cec64897e0276a",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 560,
        "wires": []
    },
    {
        "id": "93d2550da4095ef3",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 620,
        "wires": []
    },
    {
        "id": "286cb270f9e1b32c",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kebersihan kandang",
        "label": "percent",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "b17ad6af6240c7ea",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor jenis pakan ",
        "label": "low - high nutrition",
        "format": "{{value}}",
        "min": "1",
        "max": "3",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "d585fd8a7390af21",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor hormon prolaktin sapi",
        "label": "percent",
        "format": "{{value}}",
        "min": "10",
        "max": "60",
        "colors": [
            "#00f500",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 600,
        "wires": []
    },
    {
        "id": "6d25c3980421a1c2",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor umur",
        "label": "tahun",
        "format": "{{value}}",
        "min": "0",
        "max": "4",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "8d91e8ccde3819e0",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor porsi makan ",
        "label": "percent",
        "format": "{{value}}",
        "min": "60",
        "max": "90",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "9db4cbe480a2045b",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor jumlah ternak",
        "label": "ekor",
        "format": "{{value}}",
        "min": "0",
        "max": "250",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "5747cfb075564b30",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kecepatan sikulasi udara",
        "label": "m / s",
        "format": "{{value}}",
        "min": "0.15",
        "max": "0.3",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 480,
        "wires": []
    },
    {
        "id": "b689a43ebaacf505",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor makanan protein tinggi",
        "label": "percent",
        "format": "{{value}}",
        "min": "20",
        "max": "25",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 540,
        "wires": []
    },
    {
        "id": "a51a690f63c83b77",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kepadatan ayam / kandang",
        "label": "percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 600,
        "wires": []
    },
    {
        "id": "7f8949ab083337eb",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "a8b836578192570f",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Smart Plantation",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Smart Plantation",
        "payloadType": "str",
        "x": 750,
        "y": 800,
        "wires": [
            [
                "7f8949ab083337eb"
            ]
        ]
    },
    {
        "id": "f80d3fb333ada669",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "ee8ed6fac58186c4",
                "4647aab768422d60",
                "a095ccc3da7adbcd"
            ]
        ]
    },
    {
        "id": "49dfcef20c3d7325",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/tanamaan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ee8ed6fac58186c4",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor deteksi tanaman yang diproduksi",
        "low": "1",
        "high": "3",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "49dfcef20c3d7325"
            ]
        ]
    },
    {
        "id": "c02fc54984e04f61",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/tanaman",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "cab64aec4f11dbef",
                "8f5e2c0277c25a8f"
            ]
        ]
    },
    {
        "id": "cab64aec4f11dbef",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a095ccc3da7adbcd",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor air / penyiraman",
        "low": "0",
        "high": "25000",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "5260aec26230c67f"
            ]
        ]
    },
    {
        "id": "4647aab768422d60",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor frekuensi pestisida",
        "low": "1",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "3126cf625a059aba"
            ]
        ]
    },
    {
        "id": "5260aec26230c67f",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/air",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 540,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3126cf625a059aba",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/pestisida",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 560,
        "y": 1120,
        "wires": []
    },
    {
        "id": "43b0f0a451f65690",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/air",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "5e37e576b20ef960",
                "b93f4b76c7884887"
            ]
        ]
    },
    {
        "id": "2dcce20e510de69c",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/sk/pestisida",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "f7db4c19970e9eb7",
                "02401d608e6db117"
            ]
        ]
    },
    {
        "id": "5e37e576b20ef960",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f7db4c19970e9eb7",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e82e61f883f50073",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "0b83f5c31abe70ae",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "9be8b154cea6f045",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Sumber Karbohidrat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Sumber Karbohidrat",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "e82e61f883f50073"
            ]
        ]
    },
    {
        "id": "b8717f5754328324",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "db8b54c00b43b9db",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Sayuran",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Sayuran",
        "payloadType": "str",
        "x": 720,
        "y": 900,
        "wires": [
            [
                "b8717f5754328324"
            ]
        ]
    },
    {
        "id": "17e1227ff1cee46d",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "4d3708b68ec92390",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 900,
        "wires": []
    },
    {
        "id": "dbbb2f04e515c7aa",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Buah-buahan",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Buah-buahan",
        "payloadType": "str",
        "x": 1320,
        "y": 900,
        "wires": [
            [
                "17e1227ff1cee46d"
            ]
        ]
    },
    {
        "id": "c77ba14c9fa2a01b",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "13fe40c21f0cc098",
                "937bf4e8f12717e3",
                "456478450d12c8c4"
            ]
        ]
    },
    {
        "id": "d95fb814b41f8464",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/lahan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1130,
        "y": 980,
        "wires": []
    },
    {
        "id": "13fe40c21f0cc098",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor luas lahan",
        "low": "0.1",
        "high": "1",
        "inte": "false",
        "property": "payload",
        "x": 910,
        "y": 980,
        "wires": [
            [
                "d95fb814b41f8464"
            ]
        ]
    },
    {
        "id": "5980ede70c0e8efd",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/lahan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 1200,
        "wires": [
            [
                "73449ac1d4461eec",
                "ea1dd4cdd4764697"
            ]
        ]
    },
    {
        "id": "73449ac1d4461eec",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1200,
        "wires": []
    },
    {
        "id": "456478450d12c8c4",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kelembaban tanah",
        "low": "60",
        "high": "90",
        "inte": "true",
        "property": "payload",
        "x": 930,
        "y": 1040,
        "wires": [
            [
                "e3f036fefd535f3a"
            ]
        ]
    },
    {
        "id": "937bf4e8f12717e3",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor hama",
        "low": "10",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 890,
        "y": 1100,
        "wires": [
            [
                "1b34b02dedebe271"
            ]
        ]
    },
    {
        "id": "e3f036fefd535f3a",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/kelembaban",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1b34b02dedebe271",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/hama",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b2de328db0279a13",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/kelembaban",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 1260,
        "wires": [
            [
                "82f427a95577e253",
                "d1991ea6849bc6f1"
            ]
        ]
    },
    {
        "id": "580e411842f81ec5",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/s/hama",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "3fd8a7217e6696d5",
                "1828deec3e60ad77"
            ]
        ]
    },
    {
        "id": "82f427a95577e253",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3fd8a7217e6696d5",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4883bd5de524cf97",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1310,
        "y": 1040,
        "wires": [
            [
                "cf8345e2c5c46022",
                "e1eccafa7f79a954",
                "e916de744fd02a8d"
            ]
        ]
    },
    {
        "id": "6793a04bb051b302",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/matang",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1750,
        "y": 980,
        "wires": []
    },
    {
        "id": "cf8345e2c5c46022",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kematangan",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1520,
        "y": 980,
        "wires": [
            [
                "6793a04bb051b302"
            ]
        ]
    },
    {
        "id": "faad1c50057f3422",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/matang",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1200,
        "wires": [
            [
                "7faba72757aa5ef7",
                "c23f0a5c2d87a16c"
            ]
        ]
    },
    {
        "id": "7faba72757aa5ef7",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e916de744fd02a8d",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor besar buah",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1510,
        "y": 1040,
        "wires": [
            [
                "0ed41f667222f0d9"
            ]
        ]
    },
    {
        "id": "e1eccafa7f79a954",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor pupuk / tahun",
        "low": "0",
        "high": "2",
        "inte": "false",
        "property": "payload",
        "x": 1520,
        "y": 1100,
        "wires": [
            [
                "dcd67ddd3bf20f28"
            ]
        ]
    },
    {
        "id": "0ed41f667222f0d9",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/besar",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1750,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dcd67ddd3bf20f28",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/pupuk",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1750,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8e6e1869c70462b7",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/besar",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 1260,
        "wires": [
            [
                "534b74c3a0aa83ab",
                "0530b9b4a57f72d4"
            ]
        ]
    },
    {
        "id": "61d074fe20fa96bf",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sp/b/pupuk",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 1320,
        "wires": [
            [
                "43a24f8225e1d608",
                "2e33598688ac8497"
            ]
        ]
    },
    {
        "id": "534b74c3a0aa83ab",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 1260,
        "wires": []
    },
    {
        "id": "43a24f8225e1d608",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8f5e2c0277c25a8f",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor deteksi tanaman yang diproduksi",
        "label": "pH",
        "format": "{{value}}",
        "min": "1",
        "max": "3",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b93f4b76c7884887",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor air / penyiraman",
        "label": "liters per minute",
        "format": "{{value}}",
        "min": "0",
        "max": "25000",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 1260,
        "wires": []
    },
    {
        "id": "02401d608e6db117",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor frekuensi pestisida",
        "label": "meter",
        "format": "{{value}}",
        "min": "1",
        "max": "4",
        "colors": [
            "#00f500",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ea1dd4cdd4764697",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor luas lahan",
        "label": "hektar",
        "format": "{{value}}",
        "min": "0.1",
        "max": "1",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d1991ea6849bc6f1",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kelembaban tanah",
        "label": "percent",
        "format": "{{value}}",
        "min": "60",
        "max": "90",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1828deec3e60ad77",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor hama",
        "label": "hama/m^2",
        "format": "{{value}}",
        "min": "10",
        "max": "200",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c23f0a5c2d87a16c",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Kematangan",
        "label": "percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 1180,
        "wires": []
    },
    {
        "id": "0530b9b4a57f72d4",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor besar buah",
        "label": "percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1530,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2e33598688ac8497",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor pupuk / tahun",
        "label": "kg @pohon/tahun",
        "format": "{{value}}",
        "min": "0",
        "max": "2",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fa50d8c4faa78bfa",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b25e6d60e13b09c3",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Smart Restoran",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Smart Restoran",
        "payloadType": "str",
        "x": 740,
        "y": 1560,
        "wires": [
            [
                "fa50d8c4faa78bfa"
            ]
        ]
    },
    {
        "id": "39c9c85023820f61",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1820,
        "wires": [
            [
                "e8a21bad0e71580f",
                "3a29a10b077c4935",
                "100f7fd31f196138"
            ]
        ]
    },
    {
        "id": "c9c58d4aca0e5b5f",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/bulan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 550,
        "y": 1760,
        "wires": []
    },
    {
        "id": "e8a21bad0e71580f",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor bulan",
        "low": "1",
        "high": "12",
        "inte": "true",
        "property": "payload",
        "x": 290,
        "y": 1760,
        "wires": [
            [
                "c9c58d4aca0e5b5f"
            ]
        ]
    },
    {
        "id": "f5524a2276d11a55",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/bulan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "e96d317724bdb773",
                "9b0fac3b91421f18"
            ]
        ]
    },
    {
        "id": "e96d317724bdb773",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1960,
        "wires": []
    },
    {
        "id": "100f7fd31f196138",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor suhu",
        "low": "-9",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "bd5cf2d5529d1001"
            ]
        ]
    },
    {
        "id": "3a29a10b077c4935",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kelembaban udara",
        "low": "30",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 1880,
        "wires": [
            [
                "3d6c813f675fcb42"
            ]
        ]
    },
    {
        "id": "bd5cf2d5529d1001",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/suhu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 550,
        "y": 1820,
        "wires": []
    },
    {
        "id": "3d6c813f675fcb42",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/air_moisture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 570,
        "y": 1880,
        "wires": []
    },
    {
        "id": "a2f55b871ccdea28",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/suhu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2020,
        "wires": [
            [
                "b5dacc025db09293",
                "15865f880aedcc1c"
            ]
        ]
    },
    {
        "id": "e1487aa1041d4b64",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/dm/air_moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 2080,
        "wires": [
            [
                "be3f7815506fa418",
                "4287380daffc1405"
            ]
        ]
    },
    {
        "id": "b5dacc025db09293",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2020,
        "wires": []
    },
    {
        "id": "be3f7815506fa418",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2080,
        "wires": []
    },
    {
        "id": "4eb3f11a68ab5cd3",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "0b83f5c31abe70ae",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b4644799c3115a5b",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Deteksi Musim",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Deteksi Musim",
        "payloadType": "str",
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "4eb3f11a68ab5cd3"
            ]
        ]
    },
    {
        "id": "9fd92866b9f42213",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "d97672ad06295ac4",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 1660,
        "wires": []
    },
    {
        "id": "90184a9ce239219b",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Deteksi Hasil Penjualan Berfluktuasi",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Deteksi Hasil Penjualan Berfluktuasi",
        "payloadType": "str",
        "x": 810,
        "y": 1660,
        "wires": [
            [
                "9fd92866b9f42213"
            ]
        ]
    },
    {
        "id": "4828f75bd12d5a3a",
        "type": "ui_text",
        "z": "35448eaddf9ef1ef",
        "group": "4d3708b68ec92390",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 1660,
        "wires": []
    },
    {
        "id": "7613530fc7fa8244",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "name": "Deteksi Jumlah Pengunjung Restoran ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Deteksi Jumlah Pengunjung Restoran ",
        "payloadType": "str",
        "x": 1390,
        "y": 1660,
        "wires": [
            [
                "4828f75bd12d5a3a"
            ]
        ]
    },
    {
        "id": "84c2203448e5853a",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1800,
        "wires": [
            [
                "00cec5a3829ea679",
                "4faecbee2bdd823a",
                "c9e64bda2b43e42f"
            ]
        ]
    },
    {
        "id": "e407b2c4bc946d23",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/rating",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1150,
        "y": 1740,
        "wires": []
    },
    {
        "id": "00cec5a3829ea679",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor rata-rata rating",
        "low": "0",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 960,
        "y": 1740,
        "wires": [
            [
                "e407b2c4bc946d23"
            ]
        ]
    },
    {
        "id": "b7448a9e54f67e46",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/rating",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 1960,
        "wires": [
            [
                "e64e68e3879cc13f",
                "9021cce9e1f647f4"
            ]
        ]
    },
    {
        "id": "e64e68e3879cc13f",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 72",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c9e64bda2b43e42f",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor pesanan berhasil",
        "low": "0",
        "high": "2500",
        "inte": "true",
        "property": "payload",
        "x": 950,
        "y": 1800,
        "wires": [
            [
                "4f5b69fee9e795e3"
            ]
        ]
    },
    {
        "id": "4faecbee2bdd823a",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor kemahalan menu terjual",
        "low": "0",
        "high": "4",
        "inte": "true",
        "property": "payload",
        "x": 930,
        "y": 1860,
        "wires": [
            [
                "aa03cf7ec1eaa091"
            ]
        ]
    },
    {
        "id": "4f5b69fee9e795e3",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/pesanan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1160,
        "y": 1800,
        "wires": []
    },
    {
        "id": "aa03cf7ec1eaa091",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/menu_mahal",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1170,
        "y": 1860,
        "wires": []
    },
    {
        "id": "2b2fd88fd6779ad4",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/pesanan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 2020,
        "wires": [
            [
                "8adfe16dbdab783c",
                "498dba9676f887b6"
            ]
        ]
    },
    {
        "id": "8e4198a58e53a6f2",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/hp/menu_mahal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 2080,
        "wires": [
            [
                "61fa69b6ebb05a8f",
                "11a2d7abd00146f8"
            ]
        ]
    },
    {
        "id": "8adfe16dbdab783c",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2020,
        "wires": []
    },
    {
        "id": "61fa69b6ebb05a8f",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 74",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2080,
        "wires": []
    },
    {
        "id": "5cac67afb445496c",
        "type": "inject",
        "z": "35448eaddf9ef1ef",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1310,
        "y": 1800,
        "wires": [
            [
                "bc9ff8ef6b70f8b1",
                "18acdc2017f6f441",
                "d8f7bee5282382f0"
            ]
        ]
    },
    {
        "id": "c10f9464dab268ac",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/kasir",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1740,
        "y": 1740,
        "wires": []
    },
    {
        "id": "bc9ff8ef6b70f8b1",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor pembayaran kasir",
        "low": "0",
        "high": "2500",
        "inte": "true",
        "property": "payload",
        "x": 1530,
        "y": 1740,
        "wires": [
            [
                "c10f9464dab268ac"
            ]
        ]
    },
    {
        "id": "51cc1d4db13d774d",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/kasir",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 1960,
        "wires": [
            [
                "94407d704d2c384f",
                "31d49ce212652a95"
            ]
        ]
    },
    {
        "id": "94407d704d2c384f",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 75",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 1960,
        "wires": []
    },
    {
        "id": "d8f7bee5282382f0",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor cctv",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1490,
        "y": 1800,
        "wires": [
            [
                "670f7cf6f67cba53"
            ]
        ]
    },
    {
        "id": "18acdc2017f6f441",
        "type": "random",
        "z": "35448eaddf9ef1ef",
        "name": "Sensor penggunaan meja",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1530,
        "y": 1860,
        "wires": [
            [
                "791a98a763c825da"
            ]
        ]
    },
    {
        "id": "670f7cf6f67cba53",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/cctv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1740,
        "y": 1800,
        "wires": []
    },
    {
        "id": "791a98a763c825da",
        "type": "mqtt out",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/meja",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "727660ac399984c1",
        "x": 1740,
        "y": 1860,
        "wires": []
    },
    {
        "id": "dadbce9f9d5f9f7d",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/cctv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 2020,
        "wires": [
            [
                "55f962741295cab4",
                "b0df8d8de14c6418"
            ]
        ]
    },
    {
        "id": "4a9c9721549c4f4c",
        "type": "mqtt in",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "topic": "sr/jp/meja",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "727660ac399984c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 2080,
        "wires": [
            [
                "6130d07f8f098022",
                "fb5d2e3eb7b78635"
            ]
        ]
    },
    {
        "id": "55f962741295cab4",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 76",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 2020,
        "wires": []
    },
    {
        "id": "6130d07f8f098022",
        "type": "debug",
        "z": "35448eaddf9ef1ef",
        "name": "debug 77",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 2080,
        "wires": []
    },
    {
        "id": "9b0fac3b91421f18",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 17,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor bulan",
        "label": "(bulan ke ... )",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 1940,
        "wires": []
    },
    {
        "id": "15865f880aedcc1c",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor suhu",
        "label": "celsius degree",
        "format": "{{value}}",
        "min": "-9",
        "max": "30",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 2000,
        "wires": []
    },
    {
        "id": "4287380daffc1405",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "0b83f5c31abe70ae",
        "order": 19,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kelembaban udara",
        "label": "percent",
        "format": "{{value}}",
        "min": "30",
        "max": "80",
        "colors": [
            "#00f500",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 2060,
        "wires": []
    },
    {
        "id": "9021cce9e1f647f4",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 17,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor rata-rata rating",
        "label": "bintang",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 1940,
        "wires": []
    },
    {
        "id": "498dba9676f887b6",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor pesanan berhasil",
        "label": "/ bulan",
        "format": "{{value}}",
        "min": "0",
        "max": "2500",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 2000,
        "wires": []
    },
    {
        "id": "11a2d7abd00146f8",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "d97672ad06295ac4",
        "order": 19,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor kemahalan menu terjual",
        "label": "(tingkat kemahalan)",
        "format": "{{value}}",
        "min": "0",
        "max": "4",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 2060,
        "wires": []
    },
    {
        "id": "31d49ce212652a95",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 17,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor pembayaran kasir",
        "label": "kali/bulan",
        "format": "{{value}}",
        "min": "0",
        "max": "2500",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 1940,
        "wires": []
    },
    {
        "id": "b0df8d8de14c6418",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor cctv",
        "label": "pengunjung baru/hari",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 2000,
        "wires": []
    },
    {
        "id": "fb5d2e3eb7b78635",
        "type": "ui_gauge",
        "z": "35448eaddf9ef1ef",
        "name": "",
        "group": "4d3708b68ec92390",
        "order": 19,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor penggunaan meja",
        "label": "kali / hari",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00fa00",
            "#e6e600",
            "#fa0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8fcbf6f8da2fa6f5",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "dc38d1dc8069ff92",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "29b7a6798de0b9e6",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "49855d6489656ec9",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "98e5e16bd3ac12a3",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "1ec4d4a5ffc780af",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "9030bdf8534684a5",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "0b83f5c31abe70ae",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "696372cc3df5b3b3",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "d97672ad06295ac4",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "3662d52469829930",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "d97672ad06295ac4",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "5b80a5188b222117",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "d97672ad06295ac4",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "ed668018bb4f485e",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "d97672ad06295ac4",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "52ab82d65829260c",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "45c8be15496b5e77",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "81b42aa26c481322",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "2513b233dd0a7d05",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "4e8326c1463e8115",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "9cb490abd9b4da9b",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "c1527b1105bd0e55",
        "type": "ui_spacer",
        "z": "35448eaddf9ef1ef",
        "name": "spacer",
        "group": "4d3708b68ec92390",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "d97672ad06295ac4",
        "type": "ui_group",
        "name": "Mid",
        "tab": "2968c7d7c516d60d",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "727660ac399984c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b83f5c31abe70ae",
        "type": "ui_group",
        "name": "Left",
        "tab": "2968c7d7c516d60d",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d3708b68ec92390",
        "type": "ui_group",
        "name": "Right",
        "tab": "2968c7d7c516d60d",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]